<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.higher.collectmodule.dao.TesttubeDao">
<!--    查询全部管的信息，包含管编号和状态,需要参数boxId-->
    <select id="getAllTube" resultType="com.higher.collectmodule.pojo.Testtube">
        select *
        from testtube
        where boxId=#{boxId}
    </select>

    <!--开管，添加试管-->
    <insert id="addTube" useGeneratedKeys="true" keyProperty="testtubeId">
        insert into testtube values(null,#{testtubeCode},#{boxId},#{collectType},#{status},#{testResult},#{openTime},null)
    </insert>
<!-- 防止管编号重复-->
    <select id="getOne" resultType="int">
        select  count(0)
        from testtube
        where testtubeCode=#{testtubeCode}
    </select>
<!--封管-->
    <update id="closeTube">
        update testtube set status=#{status},closeTime=#{closeTime} where testtubeId=#{testtubeId}
    </update>
</mapper>